@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body{
   
    font-family: 'Noto Sans JP', sans-serif;

    background-color: rgb(237, 237, 237); 

   }

   nav{
     background:none;
   }
   .logo{
     filter: grayscale(100%);
     background-attachment: fixed;
   }
   .top{
     width: 100%;
     filter: grayscale(100%);
     transition: 1s;
     border-radius: 20px 20px 20px 20px;
   }
   .top:hover{
     filter: grayscale(0%);
   }
   .card{
     background: none;
     border: none;
     border-radius: 0px;
     margin: 10px;
   }
   .cont{
     margin-top: 130px;
   }
   .card-title{
     font-family: 'Noto Sans JP', sans-serif;
     font-weight: 100;
     font-size:200;
     text-align: center;
     border-bottom: 1px solid rgb(237, 237, 237); 
     transition: 3s;
     width: 100%;
   }
   .card-title:hover{
    font-weight: 300;
    color: rgb(52, 174, 134);
   }
   .mains{
     width: 100%;
     filter: grayscale(100%);
   }
   .title{
     text-align: center;
     font-weight: 100;
     margin-top: 20px;
   }
   .photos{
     z-index: 0;
     position: fixed;
   }
   .text{
     font-size: 20px;
   }
   .col-md-6{
     margin: 0;
   }
   .title{
    font-family: 'Lobster', cursive;
    font-size: 50px;
  
  }
  .menu{
      z-index: 2;
      position: fixed;
      top: 40vmin;
      right: 10vmin;
      font-size: 40px;
  }
  .maps{
      border-radius: 10px;
  }
  .center{
      text-align: center;
      width: 0 auto;
      height: 0px auto;
  }
  .left{
      text-align: left;
  }
  /* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  
}
